.contenedorCarrito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 25px;
}

.contenedorContador:hover{
    color: white;
}

.iconoCarrito{
    width: 25px;
    height: 25px;
}

.iconoCarrito:hover{
    color: white;
}

.contenedorContador{
    margin-left: 10px;
}