.contenedorItemDetail{
    display: flex;
    border: 5px solid #7aa6fa;
    margin-left: 10px;
    margin-right: 50px;
    padding: 10px;
}

.contenedorDetalle{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

.title{
    margin-bottom: 25px;
}

.descripcion{
    margin-bottom: 25px;
    font-size: large;
}

.precio{
    font-size: x-large;
}

.spinner{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 45%;
}